@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Variable.ttf");
}

@font-face {
  font-family: "Westgate";
  font-weight: 300;
  src: url("./fonts/Westgate/Westgate-Light.otf");
}

@font-face {
  font-family: "Westgate";
  font-weight: 400;
  src: url("./fonts/Westgate/Westgate-Regular.otf");
}

@font-face {
  font-family: "Westgate";
  font-weight: 600;
  src: url("./fonts/Westgate/Westgate-Semibold.otf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
